html{
    height: 100%;
    background: radial-gradient(circle,#fff,#ccc);
    background: -webkit-radial-gradient(circle,#fff,#ccc);
    background: -moz-radial-gradient(circle,#fff,#ccc);
    background: -ms-radial-gradient(circle,#fff,#ccc);
}
#container{
    height: 613px;
    width: 850px;
    background-color: #9DD2EA;
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 3px 0px #009DE4;
    -webkit-box-shadow: 0px 5px 3px 0px #009DE4;
    -moz-box-shadow: 0px 5px 3px 0px #009DE4;
    position: relative;
}
#score{
    position: absolute;
    background-color: #F1FF92;
    color: #888E5F;
    padding: 10px;
    box-shadow: 0px 4px #9DA853;
    -webkit-box-shadow: 0px 4px #9DA853;
    -moz-box-shadow: 0px 4px #9DA853;
    left: 810px;
}
/*
#correct{
    position: absolute;
    background-color: #42e252;
    left: 350px;
    color: white;
    padding: 10px;
    display: none;
}
#wrong{
    position: absolute;
    background-color: #de401a;
    left: 350px;
    color: white;
    padding: 10px;
    display: none;
}
*/
#question{
    width: 750px;
    height: 430px;
    background-color: white;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px 0px 0px #535AA8;
    -webkit-box-shadow: 0px 4px 0px 0px #535AA8;
    -moz-box-shadow: 0px 4px 0px 0px #535AA8;
/*    border-radius: 10px;*/
    text-align: center;
    font-family: cursive , sans-serif;
    font-size: 130px;
    color: black;
}
#instruction{
    width: 430px;
    height: 50px;
    background-color: #B481D9;
    margin: 8px auto;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px 0px 0px #8153A8;
    -webkit-box-shadow: 0px 4px 0px 0px #8153A8;
    -moz-box-shadow: 0px 4px 0px 0px #8153A8;
/*    border-radius: 10px;*/
}
#startreset{
    width: 95px;
    background-color: #CEE9F5;
    padding: 8px;
    margin: 12px auto;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 4px 0px 0px #9DD2EA;
    -webkit-box-shadow: 0px 4px 0px 0px #9DA853;
    -moz-box-shadow: 0px 4px 0px 0px #9DA853;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#trialsLeft{
    width: 100px;
    padding: 10px;
    position: absolute;
/*
    top: 27px;
    left: 20px;
*/
    background-color: #F1FF92;
/*    border-radius: 10px;*/
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
}
.life{
    width: 17px;
    height: 17px;
    margin: 0px 8px;
}
#gameOver{
    width: 500px;
    height: 200px;
    background: linear-gradient(#F3C46B , #F3766C);
    background: -webkit-linear-gradient(#F3C46B , #F3766C);
    background: -moz-linear-gradient(#F3C46B , #F3766C);
    background: -ms-linear-gradient(#F3C46B , #F3766C);
    color: white;
    position: absolute;
    top: 190px;
    left: 199px;
    font-size: 2.4em;
    text-align: center;
/*    border-radius: 10px;*/
    display: none;
    text-transform: uppercase;
    z-index: 2;
    
}